<h1>The visibility Property</h1>

<table class={{hideTable}}>
  <tr>
    <th>Rainbow Colors</th>
  </tr>
  <tr>
    <td style="background-color: {{red}}">{{red}}</td>
  </tr>
  <tr style="background-color: {{orange}}">
    <td>{{orange}}</td>
  </tr>
  <tr style="background-color: {{yellow}}">
    <td>{{yellow}}</td>
  </tr>
  <tr [bgColor]="green">
    <td>{{green}}</td>
  </tr>
  <tr [bgColor]="blue">
    <td>{{blue}}</td>
  </tr>
  <tr [bgColor]="indigo">
    <td>{{indigo}}</td>
  </tr>
  <tr [bgColor]="violet">
    <td>{{violet}}</td>
  </tr>
</table>
<!-- <table>
  <tr *ngFor="let color of colors" [ngStyle]="{color: color}">
  <td *ngFor="let color of colors" [ngStyle]="{color: color}">{{color}}</td>
  </tr>
</table> -->

<button (click)="eventStyleChanger($event)">Спрятать таблицу</button>
<!-- <app-mod1></app-mod1> -->
