<h1>The visibility Property</h1>

<table>
  <tr class={{hideRow}}>
    <th>Rainbow Colors</th>
  </tr>
  <tr [class]="hideRow">
    <td>Red</td>
  </tr>
  <tr [class]="hideRow">
    <td>Orange</td>
  </tr>
  <tr [class]="hideRow">
    <td>Yellow</td>
  </tr>
  <tr [class]="hideRow">
    <td>Green</td>
  </tr>
  <tr [class]="hideRow">
    <td>Blue</td>
  </tr>
  <tr [class]="hideRow">
    <td>Indigo</td>
  </tr>
  <tr [class]="hideRow">
    <td>Violet</td>
  </tr>
  <hr>
</table>
<table>
  <tr *ngFor="let color of colors" [ngStyle]="{color: color}">
  <td *ngFor="let color of colors" [ngStyle]="{color: color}">{{color.lastIndexOf()}}</td>
  </tr>
</table>

<button (click)="eventStyleChanger($event)">Спрятать таблицу</button>
<!-- <app-mod1></app-mod1> -->
